<main>
  <div class="container lg:w-[80%] text-center">

     <Section class="p-10">
    <div class="text">
      <h2 class="text-text-color mx-auto w-[239.97px] font-normal text-4xl leading-8 my-5">Get In Touch</h2>
      <p class="text-gray-700 max-w-[28.75rem] mx-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
          quaerat unde quam dolor culpa veritatis inventore, aut commodi eum
          veniam vel.</p>
    </div>

    <div class="content grid sm:grid-cols-1 md:grid-cols-3 gap-6 mt-10">
      <div class=" bg-card-color rounded-lg text-center py-6 px-10">
        <i class="fa-solid fa-location-dot text-main-color text-2xl my-4"></i>
        <h3 class="py-3 font-normal text-lg">102 Street 2714 Donovan</h3>
        <p class="text-gray-700 text-sm">Lorem ipsum dolar site amet discont</p>
      </div>

      <div class=" bg-card-color rounded-lg text-center py-6 px-10">
        <i class="fa-solid fa-phone-volume text-main-color text-2xl my-4"></i>
        <h3 class="py-3 font-normal text-lg">102 Street 2714 Donovan</h3>
        <p class="text-gray-700 text-sm">Lorem ipsum dolar site amet discont</p>
      </div>

      <div class=" bg-card-color rounded-lg text-center py-6 px-10">
        <i class="fa-solid fa-envelope text-main-color text-2xl my-4"></i>
        <h3 class="py-3 font-normal text-lg">102 Street 2714 Donovan</h3>
        <p class="text-gray-700 text-sm">Lorem ipsum dolar site amet discont</p>
      </div>

    </div>

</Section>

<section class="p-10 m-8 bg-white rounded-lg shadow-[0_10px_40px_rgba(0,0,0,0.1)] ">
  <div class="max-w-[47.5rem] mx-auto">
    <div class="text  py-14 border-b-2 border-opacity-70 border-b-[#EDEEF5]">
      <h2 class="text-text-color mx-auto w-[239.97px] font-normal text-4xl leading-8 my-5">Send Us</h2>
      <p class="text-gray-700 max-w-[47.5rem] mx-auto">Contact us for all your questions and opinions, or you can solve your problems in a shorter time with our contact
offices.</p>
    </div>

    <form class="space-y-4 mt-14">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col items-start">
          <label for="Name" class="mb-4">Name</label>
        <input type="text" id="Name"  class="p-3 border border-gray-300 rounded-md bg-gray-100 focus:outline-0  focus:ring-2 focus:ring-main-color">
        </div>
        <div class="flex flex-col items-start">
          <label for="Email" class="mb-4">Email</label>
          <input type="email" id="Email"  class="p-3 border border-gray-300 rounded-md bg-gray-100 focus:outline-0 focus:ring-2 focus:ring-main-color">
        </div>
      </div>
      <div class="flex flex-col items-start">
        <label for="Phone" class="mb-4">Phone number</label>
        <input type="text" id="Phone"  class="w-full p-3 border border-gray-300 rounded-md bg-gray-100 focus:outline-0 focus:ring-2 focus:ring-main-color">
      </div>

      <div class="flex flex-col items-start">
        <label for="message" class="mb-4">Your message</label>
        <textarea id="message"  rows="4" class="w-full p-3 border border-gray-300 rounded-md bg-gray-100 focus:outline-0 focus:ring-2 focus:ring-main-color"></textarea>
      </div>

      <div class="text-left">
        <button type="submit" class="bg-main-color text-white px-6 py-2 rounded-md hover:bg-teal-600 transition">
        Send Message
      </button>
      </div>
    </form>
  </div>

</section>

  </div>

</main>
