<div class="container  py-10 ">


  <section class="sec-1 gap-x-8 justify-center grid sm:grid-cols-[60%_20%]">
    <div class="img flex flex-col gap-y-5">
      <img class="" src="./blog-3.jpg.png" alt="">
      <p class="text-[#9B9BB4] text-[13px] font-semibold">Grocery</p>
      <p class="text-[36px] text-[#202435] font-semibold leading-[43px]">But I must explain to you how all this mistaken
        idea</p>
      <div class="text-[14px] font-medium">
        <span class="text-[#71778E] ">Jan 13 2025</span> <span class="text-[#202435] ms-4">Sinan ISIK</span>
      </div>
      <p class="text-[15px] text-[#202435] leading-[27px]">Donec rhoncus quis diam sit amet faucibus. Vivamus
        pellentesque, sem sed
        convallis ultricies, ante eros laoreet libero,
        vitae suscipit lorem turpis sit amet lectus. Quisque egestas lorem ut mauris ultrices,...</p>
      <div>
        <img class="w-full object-cover" src="./blog-10.jpg.png" alt="">
      </div>
      <p class="text-[#9B9BB4] text-[13px] font-semibold">Grocery</p>
      <p class="text-[36px] text-[#202435] font-semibold leading-[43px]">The Problem With Typefaces on the Web</p>
      <div class="text-[14px] font-medium">
        <span class="text-[#71778E] ">Jan 13 2025</span> <span class="text-[#202435] ms-4">Sinan ISIK</span>
      </div>
      <p class="text-[15px] text-[#202435] leading-[27px]">Donec rhoncus quis diam sit amet faucibus. Vivamus
        pellentesque, sem sed
        convallis ultricies, ante eros laoreet libero,
        vitae suscipit lorem turpis sit amet lectus. Quisque egestas lorem ut mauris ultrices,...</p>
      <div class="flex items-center justify-center gap-x-3">
        <span class="w-6 h-6  grid place-items-center rounded-full bg-[#35AFA0] text-white">1</span><span>2</span>
        <span class="text-[#202435]">></span>
      </div>


    </div>
    <div class="recent-posts flex flex-col gap-y-8">
      <p>Recent Posts</p>
      <div class="flex items-center gap-x-4">
        <img class="w-12  ms-4 h-12 rounded-full" src="./blog-3.jpg.png" alt="">
        <p class="leading-5 text-[14px] min-w-[200px] text-[#202435] font-medium">But I must explain to you how all this
          mistaken
          idea</p>
      </div>
      <div class="flex items-center gap-x-4">
        <img class="w-12  ms-4 h-12 rounded-full" src="./blog-5.jpg.png" alt="">
        <p class="leading-5 min-w-[200px] text-[14px] text-[#202435] font-medium">
          The Problem With
          Typefaces on the Web
        </p>
      </div>
      <div class="flex items-center gap-x-4">
        <img class="w-12 ms-4 h-12 rounded-full" src="./blog-1.jpg.png" alt="">
        <p class="leading-5 min-w-[200px] text-[14px] text-[#202435] font-medium">English Breakfast Tea
          With Tasty Donut
          Desserts</p>
      </div>
      <div class="social-media flex flex-col gap-y-1">

        <p class="m-5">Social Media</p>
        <div class="facebook bg-[#3B5998] rounded-sm px-4 py-2 h-10 flex items-center text-white text-[12px] gap-8">
          <span class=""><i class="fa-brands fa-facebook-f"></i></span>
          <p>FACEBOOK</p>
        </div>
        <div class="facebook bg-[#CC2366] rounded-sm px-4 py-2 h-10 flex items-center text-white text-[12px] gap-8">
          <span class=""><i class="fa-brands fa-instagram"></i></span>
          <p>INSTAGRAM</p>
        </div>
        <div class="facebook bg-[#1DA1F2] rounded-sm px-4 py-2 h-10 flex items-center text-white text-[12px] gap-8">
          <span class=""><i class="fa-brands fa-twitter"></i></span>
          <p>TWITTER</p>
        </div>
        <div class="facebook bg-[#FF4500] rounded-sm px-4 py-2 h-10 flex items-center text-white text-[12px] gap-8">
          <span class=""><i class="fa-brands fa-reddit"></i></span>
          <p>REDDIT</p>
        </div>
        <div class="facebook bg-[#E60023] rounded-sm px-4 py-2 h-10 flex items-center text-white text-[12px] gap-8">
          <span class=""><i class="fa-brands fa-pinterest"></i></span>
          <p>PINTEREST</p>
        </div>

      </div>

      <div>
        <p class="text-[15px] mb-5 font-semibold text-[#202435]">Widget Banner</p>
        <img class="w-full" src="./sidebar-banner.gif.png" alt="">
        <p class="text-[15px] text-[#202435] mb-4">TAGS</p>
        <div class="grid grid-cols-3 leading-[21px] -tracking-[0.1px] text-[14px] gap-x-3 gap-y-3 ps-2">
          <span>ecommerce</span> <span>food</span>
          <span>grocery</span><span>klbtheme</span>
          <span>organic</span><span>shop</span>
          <span>shopify</span><span>store</span>
        </div>
      </div>

    </div>
  </section>


</div>
