<section class="@container">
  <!-- start pic with text -->
  <div class="relative inline-block">
    <img src="./about-header.jpg.png" alt="container">
    <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-center">
      <p class="text-6xl p-2">About for Bacola</p>
      <p class="text-xs">We can do more for you</p>
    </div>
  </div>
  <!-- end -->
  <!--  start 2 text  -->
  <article class="my-5 p-1">
    <p class=" text-xsm">In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis.
      Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id
      rutrum ex. Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
      Vestibulum sit amet sollicitudin enim. Ut id interdum turpis.
      Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor
      blandit nec.</p>
    <p class="text-3xl font-bold my-10">Quisque erat urna, congue et libero in
      eleifend euismod velit.</p>
    <p class="text-xsm">In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec
      augue diam, tristique et ultricies nec, consectetur quis enim.
      Nullam id rutrum ex. Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in
      dapibus. Vestibulum sit amet sollicitudin enim. Ut id
      interdum turpis. Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque efficitur elit ante, vel
      vulputate tortor blandit nec.</p>
  </article>
  <!-- end -->
  <!-- start text and pic -->
  <div class="flex flex-col md:flex-row items-center justify-center gap-8 p-6 max-w-7xl mx-auto">
    <!-- imge  -->
    <aside class="w-full md:w-1/2">
      <img src="about-people.jpg.png" alt="" class="w-full h-auto rounded-lg shadow-md">
    </aside>
    <!-- end imge -->
    <!-- start text -->
    <article class="w-full md:w-1/2 text-gray-800">
      <span class="block ms-0 md:ms-3 text-sm text-gray-500">Rachel Leonard - Bacola CEO</span>
      <h1 class="font-bold text-2xl md:text-3xl my-6 md:my-10">
        Duis convallis luctus pretium. Pellentesque habitant morbi
      </h1>
      <p class="my-3 ms-0 md:ms-3 text-base leading-relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
      </p>
      <p class="ms-0 md:ms-3 text-base leading-relaxed mt-4">
        In fermentum mi ut sapien semper, a sagittis lorem vulputate. Integer gravida.
      </p>
      <p class="ms-0 md:ms-3 text-base leading-relaxed mt-2">
        In fermentum mi ut sapien semper, a sagittis lorem vulputate. Integer gravida,
        dui eget aliquet tempus, turpis orci vehicula ipsum, eget porttitor sapien tortor at neque. Cras id pulvinar
        lacus, ac volutpat neque.
        Ut at magna id justo bibendum lobortis. Integer tortor nulla, ultricies et nisi sit amet, interdum dictum felis.
        In semper laoreet dui vitae pharetra. Etiam sit amet molestie nulla, eu efficitur orci. Praesent rutrum ante
        justo,
        eget malesuada ante ornare ac. Ut dignissim blandit urna, eget euismod leo rhoncus nec.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Quisque lobortis libero ante. Nullam in feugiat erat. Aenean sed justo dapibus, sodales nisi ut, fringilla
        lorem.
        Vestibulum in orci ac nisl condimentum fermentum at et sem. Curabitur fermentum dolor eu lacus consectetur
        varius.
      </p>
      <!-- end text -->
    </article>
  </div>
  <!-- end -->
  <!-- عملت البوكس دا علشان يقطع الصوره -->
  <div id="box" class="bg-white p-6 sm:p-10 max-w-5xl mx-auto">
    <p class="text-base leading-relaxed text-gray-700">
      In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis.
      Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex.
      Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
      Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam, pretium facilisis nisl.
      Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
    </p>
  </div>
  <!-- end -->
  <div>
    <p class="my-5 p-5">In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec
      augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id
      rutrum ex. Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
      Vestibulum sit amet sollicitudin enim. Ut id interdum turpis.
      Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor
      blandit nec.</p>
  </div>
</section>
<!--
الصوره بس حجمها كبير عندي عن التصميم الي هي التانية

-->