<section>

  @if (step === 1) {
  <form [formGroup]="verifyEmailForm" (ngSubmit)="setEmailVerify()"
    class="w-[70%] mx-auto border border-gray-400 rounded-lg p-5">

    <div class="mb-3">
      <label for="emali" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">emali:
      </label>
      <input formControlName="email" type="email" id="emali"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-300 focus:border-green-300 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


      @let emailControl = verifyEmailForm.get("email");


      @if(emailControl?.errors && emailControl?.touched){

      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">

            @if (emailControl?.getError("required")) {
            <li>Your Email is Required</li>
            }

            @else {
            <li>Email Must Be Valid</li>
            }
          </ul>
        </div>
      </div>

      }

    </div>


    <div class="text-end ">
      <button [disabled]="loading" type="submit" class="main-btn  ">

        @if (loading) {
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }

        Send Code</button>
    </div>

    @if(msgEmailError){
    <div class="flex items-center p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Info</span>
      <div class="">
        <span class="font-medium"></span> {{msgEmailError}}
      </div>
    </div>
    }


    @if (msgEmailSucess) {
    <div
      class="flex items-center p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <div class="">
        <span class="font-medium">{{msgEmailSucess}}</span>
      </div>
    </div>
    }

  </form>
  }



  @if (step === 2) {
  <form [formGroup]="verifyCodeForm" (ngSubmit)="setCodeVerify()"
    class="w-[70%] mx-auto border border-gray-400 rounded-lg p-5">

    <div class="mb-3">
      <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">code:
      </label>
      <input formControlName="resetCode" type="text" id="resetCode"
        class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-green-300 focus:border-green-300 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


      @let codeControl = verifyCodeForm.get("resetCode");


      @if(codeControl?.errors && codeControl?.touched){

      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">

            @if (codeControl?.getError("required")) {
            <li>Your Code is Required</li>
            }

            @else {
            <li>Code Must Be [<span class="font-bold">6</span>] Digits</li>
            }
          </ul>
        </div>
      </div>

      }

    </div>

    <div class="text-end ">
      <button [disabled]="loading" type="submit" class="main-btn  ">

        @if (loading) {
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }

        Verify Code</button>
    </div>


    @if (msgCodeSucssess) {
    <div
      class="flex items-center p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <div class="">
        <span class="font-medium">{{msgCodeSucssess}}</span>
      </div>
    </div>
    }

    @if(msgCodeError){
    <div class="flex items-center p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Info</span>
      <div class="">
        <span class="font-medium"></span> {{msgCodeError}}
      </div>
    </div>
    }

  </form>
  }


  @if (step === 3) {
  <form [formGroup]="newPasswordForm" (ngSubmit)="setRepassword()"
    class="w-[70%] mx-auto border border-gray-400 rounded-lg p-5">

    <div class="mb-3">
      <label for="emali" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">emali:
      </label>
      <input formControlName="email" type="email" id="emali"
        class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-green-300 focus:border-green-300 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


      @let emaiForgeted = newPasswordForm.get("email");


      @if(emaiForgeted?.errors && emaiForgeted?.touched){

      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">

            @if (emaiForgeted?.getError("required")) {
            <li>your Email is Required</li>
            }

            @else {
            <li>Email Must Be Valid</li>
            }
          </ul>
        </div>
      </div>

      }

    </div>

    <div class="mb-3">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> new password:
      </label>
      <input formControlName="newPassword" type="password" id="password"
        class="bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-green-300 focus:border-green-300 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


      @let passwordControl = newPasswordForm.get("newPassword");


      @if(passwordControl?.errors && passwordControl?.touched){

      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">

            @if (passwordControl?.getError("required")) {
            <li>your password is Required</li>
            }

            @else {
            <span class="font-medium">Your password must meet the following requirements:</span>
            <li> Starts with an uppercase letter (A-Z).</li>
            <li> Contains at least 6 characters.</li>
            <li>Can include letters, numbers, or underscores (_) only</li>
            }
          </ul>
        </div>
      </div>

      }

    </div>

    <div class="text-end ">
      <button [disabled]="loading" type="submit" class="main-btn  ">

        @if (loading) {
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }

        login</button>
    </div>

    @if (msgRepassSucess) {
    <div
      class="flex items-center p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <div class="">
        <span class="font-medium">{{msgRepassSucess}}</span>
      </div>
    </div>
    }


    @if(msgRepassError){
    <div class="flex items-center p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="sr-only">Info</span>
      <div class="">
        <span class="font-medium"></span> {{msgRepassError}}
      </div>
    </div>
    }

  </form>
  }


</section>
